<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="app1">Banco</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="financial-core/home-account-holder">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app1">app1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app2">app2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="financial-core/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://banco.bradesco">Bradesco</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
