<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" pdpjLink="app1">Banco</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            pdpjLink="financial-core/home-account-holder"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" pdpjLink="app1">app1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pdpjLink="app2">app2</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" pdpjLink="skeleton">skeleton</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" pdpjLink="skeleton">skeleton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pdpjLink="financial-core/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pdpjLink="https://banco.bradesco">Bradesco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pdpjLink="registration">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
